{% extends "base.html" %}
<!-- -->
{% load crispy_forms_tags %}
<!-- -->
{% load static %}

<!-- -->
{% block content %}
<!-- -->
<div class="container-fluid form-wrapper">
  <div class="container form-container">
    <form action="" method="post">
      {% csrf_token %}
      <!-- -->
      {{form|crispy}}
      <input type="submit" class="btn btn-secondary btn-block" value="Login" />
    </form>
    <p class="text-center mt-3">
      Don't Have an Account? <a href="{% url 'register' %}">Sign Up</a>
    </p>
  </div>
</div>

<!-- -->
{% endblock content %}<!-- -->
